.slideshow {
  height: 415px;
  border-radius: map-get($br, large);
  overflow: hidden;
  position: relative;

  &__arrow {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;   // Placer l'element 50% de la hauteur de son conteneur parent
    transform: translateY(-50%);   // Centrer verticalement par rapport à son conteneur parent
    z-index: 1;

    & img {
      width: 100%;
      height: 100%;

      @media (max-width: $small) {
        width: 2rem;
        height: 2rem;
      }
    }

    &--left {
      left: 15px;
    }

    &--right {
      right: 15px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
  }

  &__number {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(
      -50%
    ); // Centrer horizontalement par rapport à son conteneur parent
    font-size: 1.8rem;
    color: $tertiary-color;
    z-index: 0;

    @media (max-width: $small) {
      display: none;
    }
  }

  @media (max-width: $small) {
    height: 255px;
  }
}
