@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/base";
@import "base/typography";
@import "animations/keyframes";

@import "../components/header/Header";
@import "../components/footer/Footer";
@import "../components/card/Card";
@import "../components/banner/Banner";
@import "../components/star/StarRating";
@import "../components/collapse/Collapse";
@import "../components/slideshow/Slideshow";

@import "../pages/home/Home";
@import "../pages/about/About";
@import "../pages/apart/Apart";
@import "../pages/errorpage/ErrorPage";
