.home {
  @include page-layout;

  &__card__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1240px;
    padding: 5rem;
    background-color: $bg-color;
    gap: 6rem;
    border-radius: map-get($br, large);

    @media (max-width: $medium) {
      grid-template-columns: repeat(2, 1fr);
      padding: 3rem;
      gap: 4rem;
    }

    @media (max-width: $small) {
      grid-template-columns: repeat(1, 1fr);
      padding: 0;
      gap: 2rem;
    }
  }
}
