@keyframes collapse-open {
    from {
       transform-origin: top;
       transform: scaleY(0);
    }
    to {
       transform-origin: top;
       transform: scaleY(1);
    }
  }
  
  @keyframes collapse-close {
    from {
       transform-origin: top;
       transform: scaleY(1);
    }
    to {
       transform-origin: top;
       transform: scaleY(0);
    }
  }
 
  