@use "../../styles/abstracts/variables.scss";

.collapse {
  display: flex;
  flex-direction: column;
  border-radius: map-get($br, medium);
  animation: collapse-open 0.5s backwards;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 15px;
    height: 52px;
    background-color: $primary-color;
    border-radius: map-get($br, small);
    font-size: 1.8rem;
    color: $tertiary-color;

    @media (max-width: $small) {
      height: 30px;
      font-size: 1.3rem;
    }
  }

  &__arrow {
    transition: transform 0.5s ease-out;
    cursor: pointer;

    @media (max-width: $small) {
      width: 2rem;
      height: 2rem;
    }

    &--rotated {
      transform: rotate(-180deg);
    }
  }

  &__content {
    background-color: $bg-color;
    color: $primary-color;
    border-radius: map-get($br, mixed);
    max-height: 0;
    transition: all 0.5s ease-out;
    transform-origin: top;

    &.open {
      max-height: 1000px;
      padding: 1rem 2rem;
      opacity: 1;
      transform: scaleY(1);
    }

    &.close {
      transform: scaleY(0);
      opacity: 0;
    }
  }
}
