.errorpage {
  @include page-layout;

  &__container {
    align-items: center;
    color: $primary-color;
  }

  &__title {
    font-size: 288px; /* Taille de police initiale à 288px */
    font-weight: 700;
    margin: 0;

    // Ajout de média pour ajuster la taille de police en pourcentage de la largeur du conteneur
    @media (max-width: $medium) {
      font-size: 23.2vw; /* 288px / 1240px = 0.232 * 100vw */
    }
  }

  &__subtitle {
    margin-top: 5rem;
    text-align: center;

  }

  &__link {
    font-size: 1.8rem;
    color: $primary-color;

    @media (max-width: $small) {
      font-size: 1.4rem;
    }
  }
}
