@use "../../styles/abstracts/variables.scss";

.footer {
    text-align: center;
    height: 209px;
    background-color: $secondary-color;
    &_logo {
        width: 122px;
        height: 40px;
        margin: 50px;
    }
    &_text {
        color: #FFFFFF;
    }
}
