body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6em; /* base size for all elements 16px equivalent */
    max-width: 1440px;
    margin: 0;
    padding: 0 ;
  }